.blog{
    
    margin: 10%;
}
.blog .title{
    text-align: center;
}
.blog .title h1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2em;
}
.blog .boxes{
    display: flex;
}
.blog .boxes .box1{
    margin-right: 20px;
}
.blog .boxes .box2{
    margin-left: 20px;
}
.blog .boxes .box1 .image img,
.blog .boxes .box2 .image img{
    width: 100%;
    height: 370px;
}
.blog .boxes .box1 .content h2,
.blog .boxes .box2 .content h2{
    color: #e74c3c;
    font-weight: 550;
    font-size: 1.5em;
}
.blog .boxes .box1 .content p,
.blog .boxes .box2 .content p{
    font-size: 1.1em;
}
@media screen and (max-width:800px){
    .blog .boxes{
        display: block;
    }
.blog .boxes .box1,
.blog .boxes .box2 {
   margin: 0;
} 
.blog .boxes .box1 .image img,
.blog .boxes .box2 .image img{
    width: 100%;
    height: 100%;
}
.blog .boxes .box1 .content ,
.blog .boxes .box2 .content {
    text-align: center;
}
}