
/* This is Header style*/


/* variables*/ 

:root{
	--dark-blue-color: RGB(59, 66, 82) ;
	--light-orange-color:RGB(255, 114, 86);
	--header-font: Arial, Helvetica, sans-serif;
}

header{
	margin-top:7px;
	padding:15px 0 15px 0;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:baseline;
	margin:7px 0 0 0;
}

header .menu-bars{ display:none;}

header .main-logo{
	text-transform:uppercase;	
	margin-left:30px;
	font-size:2.7rem;
	font-weight:bold;
}

header .main-logo span{   color: var(--light-orange-color);  } 
header .main-logo sup{  font-size:0.7em;   } 

header nav ul{  list-style-type:none;	 }

header nav ul li{
	display: inline-block;
	margin-right:40px;
}

header nav ul li:last-child{
	margin-right:20px;
	border: 2px solid var(--light-orange-color); 
	padding:5px;
}
header nav ul li a{
	text-decoration:none;
	font-size:1.7rem;
}

/* globale rule*/

.ft-an-link a{
	font-family:var(--header-font);
	color: var(--dark-blue-color);
	text-decoration:none;
}

/* media querie*/


@media only screen and (min-width:900px) and (max-width:1024px)
{ 
	header nav{
	   width:60%;
	   margin-left:20%;
	}
}


/************************/

@media only screen and (min-width:200px) and (max-width:1024px)
{
	
	header nav{   
	    display:none;
        width:100%;
        align-self:flex-end;		
		margin:45px 0px 0 -40px;
	}
	header nav ul{
		box-shadow: 1px 1px 9px #ddd,-1px -1px 9px #ddd ;
		/* width:100%; */
	}
	header nav ul li{
	    text-align:left;
	    padding:7px 0 7px 0px;
	    width:100%;
	    display: block;
	    border-bottom: 1px solid #ddd;
      	   
    }
	header nav ul li:before{
		content:"\00a0 \00a0";
	}
	
    header nav ul li:last-child{
	   border: none; 
	   padding-left:0;

    }
	header nav ul li a{   font-size:1rem;     }
	
	header .menu-bars{
		display:block;
		margin-right:20px;
		cursor:pointer;
	}
	
	header .menu-bars img{
		height:1.4rem;
		width:1.4rem;
		margin:0;
	}
	header .main-logo{	
	    margin:10px 0 0 20px;
	    font-size:1rem; 
    }
}

@media only screen and (min-width:540px) and (max-width:700px)
{ 
	    header .main-logo{	  margin:10px 0 0 30px;   }
		header nav{  	 margin-left:220px;    }
}
@media only screen and (min-width:700px) and (max-width:900px)
{ 
		header nav{  	 margin-left:270px;    }
}
@media only screen and (min-width:900px) and (max-width:1024px)
{ 
		header nav{  	 margin-left:380px;    }
}
@media only screen and (min-width:320px) and  (max-width:480px)
{
	    header .main-logo{	  font-size:1.5rem;       }
		header nav{  	 margin-left:20px;    }
}  

@media only screen and (min-width:480px) and  (max-width:540px){
	    header .main-logo{	  font-size:1.6rem;        }
}

@media only screen and (min-width:540px) and  (max-width:640px){
	
	header .main-logo{	  font-size:1.7rem;       }

}

@media only screen and (min-width:640px) and  (max-width:720px){
	
	header .main-logo{	  font-size:1.8rem;        }

}
@media only screen and (min-width:720px) and  (max-width:800px){
	
	header .main-logo{	  font-size:1.9rem;        }
}

@media only screen and (min-width:800px) and  (max-width:1024px){
	
	header .main-logo{	  font-size:2.0rem;      }
}

@media only screen and (min-width:1024px) and  (max-width:1280px){
	
	header .main-logo{	  font-size:2.2rem;     }
	header nav ul li a{   font-size:1.1rem;     }

}

@media only screen and (min-width:1080px) and  (max-width:1180px){
	
	header nav ul li a{  font-size:1.2rem;     }
}

@media only screen and (min-width:1180px) and  (max-width:1280px){
	
	header nav ul li a{  font-size:1.3rem;    }

}
@media only screen and (min-width:1280px) and  (max-width:1440px){
	
	header .main-logo{	 font-size:2.4rem;    }
	
	header nav ul li a{  font-size:1.4rem;    }
	

}